[submodule "weatherStation_old"]
	path = weatherStation_old
	url = git@github.com:ttocsneb/WeatherStation.git
[submodule "baseStation/lib/RF24"]
	path = baseStation/lib/RF24
	url = https://github.com/nRF24/RF24.git
