.wu-sticker {
    padding: 10px;
    padding-right: auto;
    padding-left: auto;
    min-width: 290px;
}

#temperature-chart {
    min-height: 150px;
}

#station-reporting, #station-not-reporting {
    display: none;
}

.user-loggedin, .user-loggedin-priv {
    display: none;
}

.hide {
    display: none;
}