<div class="card-header">
    Station
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Temperature: --</li>
    <li class="list-group-item">Humidity: --</li>
    <li class="list-group-item">Pressure: --</li>
    <li class="list-group-item">Dew Point: --</li>
    <li class="list-group-item"><h4>Rain</h4></li>
    <li class="list-group-item">Past Hour: --</li>
    <li class="list-group-item">Past Day: --</li>
</ul>