<div class="card-header">
    Station Wind
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><h4>Current</h4></li>
    <li class="list-group-item">Speed: --</li>
    <li class="list-group-item">Direction: --</li>
    <li class="list-group-item"><h4>Max (Past 5 minutes)</h4></li>
    <li class="list-group-item">Speed: --</li>
    <li class="list-group-item">Direction: --</li>
    <li class="list-group-item"><h4>Average (Past 2 minutes)</h4></li>
    <li class="list-group-item">Speed: --</li>
    <li class="list-group-item">Direction: --</li>
</ul>